
#create environment file name as .env.development.local,.env.production.local
#and place following configuration data.

REACT_APP_CONTENTSTACK_API_KEY=YOUR_API_KEY
REACT_APP_CONTENTSTACK_DELIVERY_TOKEN=YOUR_DELIVERY_TOKEN
REACT_APP_CONTENTSTACK_ENVIRONMENT=YOUR_PUBLISHING_ENVIRONMENT

# For setting region add  REACT_APP_CONTENTSTACK_REGION=(Optional for US region) Eg- eu
# For setting custom host add REACT_APP_CONTENTSTACK_API_HOST=(Optional)